
.btn-cita {
  background-color: #C7103A;
  border-color: #C7103A;
  color: #fff;
}

.btn-cita:hover {
  background-color: #a30d31; /* un poco más oscuro */
  border-color: #a30d31;
}

body {
  padding-top: 80px; /* ajusta según el alto del navbar */
}

.hero{
   aspect-ratio: 9/16; /* estilo pantallas móviles */
}
